{% extends 'layout.html' %}

{% block content %}
<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger">{{ city }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger">{{ wd.weather_state_name }}, {{ wd.the_temp |round(1, 'floor') }} <span>&#8451;</span></a>
          <img src='{{ wd_img }}' style="height: 3em;"/>
        </li>
      </ul>
    </div>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Chris Mipi</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='img/profile.png') }}">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Chris
          <span class="text-primary">Mipi</span>
        </h1>
        <div class="subheading mb-5">I am an Artist, a Father and a Software Engineer</div>
        <p class="lead mb-5">I am a Father of a {{ age }} year old little girl and a Senior Software Engineer at <a target="_blank" href="https://web.bluebeansoftware.com/">Bluebean Software</a> with more than {{ years_of_experience }} years developing software applications.</p>
        <div class="social-icons">
          <a target="_blank" href="https://www.linkedin.com/in/mcmipi/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a target="_blank" href="https://github.com/chrismipi">
            <i class="fab fa-github"></i>
          </a>
          <a target="_blank" href="https://twitter.com/chrismipi">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-linux"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-docker"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-jenkins"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-git"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-java"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-android"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-angular"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Gather all requirements</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Design the system: Frontend; Backend &amp; Database</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Build system, test and get feedback, fix/improve</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a Software Engineer, I spend time with my little girl, play games, go watch animation at the cinema.</p>
        <p class="mb-0">Otherwise I sing Bass at the <a target="_blank" href="https://twitter.com/GChoristers">Gauteng Chorister</a>.</p>
      </div>
    </section>

    <hr class="m-0">
  </div>
</body>
{% endblock %}